* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #000;
  background: #fff;
  word-break: keep-all;
}

h1 {
  margin-left: 5px;
}

p {
  margin-left: 5px;
}

button {
  margin: 4px;
}

#root {
  min-width: 320px;
  max-width: 980px;
  margin: 10px auto;
}

#app {
  margin: 0px 2px;
}

.graph {
  text-align: right;
}

.graph-info {
  font-size: 90%;
  display: inline-block;
  padding: 0px 2px;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  border-radius: 6px 6px 0px 0px;
}

.graph-canvas {
  width: 100%;
  display: block;
  border: 2px solid #333;
  box-sizing: border-box;
}

.graph-menu {
  text-align: left;
  padding: 0px 2px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  border-radius: 0px 0px 6px 6px;
}

.graph-status {
  font-size: 90%;
  margin-left: 10px;
  padding: 0px 4px;
  background-color: #bdd8ff;
  border-left: 10px solid #579bff;
}

.note-list {
  margin-top: 10px;
}

.timeline-menu {
  text-align: right;
  background-color: #eee;
}

.note {
  margin-bottom: 10px;
  border: 2px solid #333;
  border-radius: 12px;
}

.note-header {
  width: 20%;
  float: left;
  margin-left: 10px;
  padding-left: 6px;
  border-left: 10px solid;
}

.note-footer {
  width: 40%;
  float: left;
  margin: 4px 0px 0px 10px;
  padding-left: 6px;
}

.note-content {
  clear: both;
  margin: 0px 10px 0px 10px;
}

.note-text {
  width: 100%;
  height: 72px;
  display: block;
  resize: none;
  box-sizing: border-box;
  box-shadow: 1px 1px #bbb;
}

.note-menu {
  text-align: right;
  margin-right: 10px;
}

.new {
  padding: 20px;
  text-align: center;
}

.download-menu {
  text-align: center;
}
